doctype html
html(lang="jp")
	head
		meta(charset='UTF-8')
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		title= htmlWebpackPlugin.options.title
		link(rel="stylesheet", href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css')
	body
		app